.main{
    position: relative;
    height: 400px;
    left:25%;
    top:20%;
    width: 50%;
    max-height: 100vh;
}
#keys{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 25px;
    background-color: rgb(23, 22, 27);
}
button{
    height:100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
#display{
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(33, 30, 44);
    color: aliceblue;

}
button:hover{
    background-color: aquamarine;
}
button:active{
    background-color: aliceblue;
}
.operator{
    background-color: cornflowerblue;
}